.mt-10 { padding-top: 10em; }

.position-fixed { position: static !important; }

body { overflow-y: auto !important; }

.actividad {

    > div { /* '>' significa Hijo directo */
        border-radius: 12px;
        background-color: rgba(75, 195, 81, 0.6);
        color:black;
        cursor: pointer;
    }
}