{% extends 'structure/structure.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login/styles.css') }}">
{% endblock %}

{% block main %}
    <form class="hero-form p-5">
        <div class="login-box">
            <h2>Login</h2>
            <form>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="">
                    <label>Password</label>
                </div>
            </form>
        </div>
    </form>
{% endblock %}
