.deshabilitado { display: none; }
.negrita { font-weight: bold }
.w-85 { width: 85% }
.ui-widget-overlay.ui-front { opacity: 0.6 !important; }
#buscarActividadPadre {
    width: auto;
    height: 100%;
    justify-content: center;
    visibility: hidden;
}

#elegirActividadPadre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actividad:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.actividad.selected {
    background-color: lightblue;
}
#eventos { cursor: pointer; }

.ui-dialog-buttonset {
    display: flex;

    button {
        width: auto;
        height: auto;
    }
    button:nth-of-type(2) {
        background-color: red;
    }
    button:nth-of-type(2):hover {
        background-color: darkred;
    }
}

#listaActividades {
    max-height: 300px;
    overflow-y: auto;
}

main {
    display: flex;
    justify-content: space-around;
}

main>div {
    /*width: 45%; height: 700px;*/
    width: 100%; height: 700px;
    border: 6px solid;
    border-radius: 14px;

    padding: 2em;
}

#b_simple {
    height: 500px;
}
#tabs {
    height: 100%;
}

body:not(.ea-content-width-full) .content-wrapper {
    max-width: 100% !important;
}

.daterange {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    color: var(--bs-body-color);
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.input-4-digits {
    width: 5em;
}

/* EJEMPLO WEB BOTÓN */
button {
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #5368D5;
    margin-left: auto;
   }
   
   button, button span {
    transition: 200ms;

   }
   
   button .text {
    transform: translateX(18px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    margin-left: 5px;
    border-left: 1px solid #e0e3e9;
    transform: translateX(60px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 30px;
    fill: #eee;
   }
   
   button:hover {
    background: #09114e;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 100px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }



   /* Responsive */
@media (max-width: 500px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    div[name="todo_actividades"] {
        width: 100%;
        height: auto;
    }
    div[name="selector_actividad"] {
        width: 100%;
    }

    #eligeRecursos {
        display: flex;
        justify-content: center;
    }

    .recurso {
        width: 80%;
    }
}
