.deshabilitado { display: none; }


main {
    display: flex;
    justify-content: space-around;
}

main>div {
    width: 45%; height: 500px;
    border: 6px solid;
    border-radius: 14px;

    padding: 2em;
}