
#select,#selected {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
#gruposSeleccionar, #gruposSeleccionados {
    margin: .8em;
    border: 2px solid;
    border-radius: 10px;

    min-height: 20em;
    max-height: 300px;
    overflow-y: auto;
}

.grupo {
    display: flex;
    justify-content: center;

    border: 4px solid;
    border-radius: 12px;
    padding: 1em;

    cursor: pointer;

    background-color: rgb(70, 145, 67) !important;
}
.grupo:hover {
    background-color: lightgrey;
}

/*@media (max-width: 1440px) {*/
/*    #select {*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    #select {*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/