
/* aside.sidebar {
    background-color: green;
}

.main-content {
background-color: darkgreen;} 
*/

/* Iconos del aside */
.menu-icon {
    color: white !important;
}
/* Label de los iconos anteriores */
.menu-item-contents {
    color: white !important;
}
    /* Cuando pasas el ratón por encima en los labels */
    .menu-item:hover {
        background-color: black;
    }
    /* Label de las secciones */
.menu-item-label {
    color: white !important;
}


/* parte superior */
i.content-top.content-search.content-search-icon, i.fas.fa-gear {
    color: white !important;
}
.content-top .content-search .content-search-icon {
    color: white !important;
}
.list-pagination-counter {
    color: white !important;
}
.content-top {
    background-color: darkred !important;
    color:white !important;
}
.sidebar {
    background-color: rgb(70, 145, 67)!important;
}

/* Parte principal */
h1.title {
    color: white !important;
}
    /* superior */
    .content-header {
        background-color:rgb(70, 145, 67) !important;
    }
    /* inferior */
.content-wrapper {
    background-color: rgb(70, 145, 67) !important;
}


span.user-name {
    color: white !important;
}
/* Dropdown perfil (arriba derecha) */
.dropdown-menu {
    background-color: lightblue !important;
}

/* Botones principales */
button.btn.btn-primary {
    background-color: darkblue !important;
}

/* Botones secundarios */
button.btn.btn-secondary {
    background-color: rgb(70, 145, 67) !important;
}




/* ACTIVIDAD */
#tabs a {
    color: white !important;
}
/*
    Este CSS es más para la parte de actividad
*/
/* Botones dentro del panel de crear actividad */
#tabs button {
    margin-top: .8em;
    background-color: rgb(70, 145, 67) !important;
    color: white !important;
    border: 2px solid white !important;
}
#buscarActividadPadre {
    background-color: darkred !important;
    color: white !important;
}
/* Panel de botones */
#tabs > ul {
    background-color:rgb(70, 145, 67) !important;
}
/* Botones para elegir entre Introducción Recursos Ponente Grupos */
#tabs li {
    background-color: rgb(144, 66, 66) !important;
    color: white;
    border-color: black;
}
/* seleccionado */
#tabs li[aria-selected="true"] {
    background-color: darkred !important;
    color: white;
}
li.active {
    color: black !important;
}
li.active * {
    color: black !important;
}
/* fondo principal */
#tabs {
    background-color: darkred !important;
}

/* Texto en general */
#tabs p, #tabs h2, #tabs input, #tabs label {
    color: white;
}