/*
    Si ves que no se te cambian los colores o alguna propiedad CSS
    pruéba a ponerle al final '!important'
    te dejaré ejemplos de como hacerlo
 */

/* aside.sidebar {
    background-color: green;
}

.main-content {
    background-color: darkgreen;
} */

/* Iconos del aside */
.menu-icon {
    color: green !important;
}
/* Label de los iconos anteriores */
.menu-item-contents {
    color: white !important;
}
    /* Cuando pasas el ratón por encima en los labels */
    .menu-item:hover {
        background-color: black;
    }
    /* Label de las secciones */
.menu-item-label {
    color: white !important;
}


/* parte superior */
.content-top {
    background-color: green !important;
}
.sidebar {
    background-color: green !important;
}

/* Parte principal */
    /* superior */
    .content-header {
        background-color: blue !important;
    }
    /* inferior */
.content-wrapper {
    background-color: red !important;
}


/* Dropdown perfil (arriba derecha) */
.dropdown-menu {
    background-color: lightblue !important;
}

/* Botones principales */
button.btn.btn-primary {
    background-color: darkblue !important;
}

/* Botones secundarios */
button.btn.btn-secondary {
    background-color: darkred !important;
}




/* ACTIVIDAD */
/*
    Este CSS es más para la parte de actividad, lo dejo aquí para
    que no tengas que linkearlo en dos archivos distintos de CREAR_ACTIVIDAD y EDITAR_ACTIVIDAD
*/
/* Botones dentro del panel de crear actividad */
#tabs button {
    background-color: darkred !important;
}
/* Panel de botones */
#tabs > ul {
    background-color: darkred !important;
}
/* Botones para elegir entre Introducción Recursos Ponente Grupos */
#tabs li {
    background-color: darkred !important;
    color: white;
    border-color: black;
}
/* seleccionado */
#tabs li[aria-selected="true"] {
    background-color: darkred !important;
    color: white;
}
/* fondo principal */
#tabs {
    background-color: darkred !important;
}

/* Texto en general */
#tabs p, #tabs h2, #tabs input, #tabs label {
    color: white;
}