{% extends '/structure/structure.html.twig' %}

{# Inyectar bloques necesarios #}
{% block myjs %}
    {# SCRIPT #}
{#    {% include 'plugins/date-range.html.twig' %}#}
    <script src="{{ asset('js/altamasiva.js') }}"></script>
{% endblock %}

{% block mycss %}
    <style>
        header {
            height: 7em;
        }

        main {
            display: flex;
            justify-content: center;
        }

        #container {
            width: 80%;
            height: 20em;
            text-align: center;

            background-color: white;
            border: 2px solid;
            border-radius: 12px;
        }
        .mt-10 { margin-top: 5em }
    </style>
{% endblock %}

{% block main %}

    <main>
        <div id="container" class="container-fluid">
            <div class="row mt-3">
                <div class="col-12">
                    <h1>Alta masiva de personas</h1>
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-12">
                    <div class="d-flex justify-content-around">
                        <button id="downloadTemplate">Descargar plantilla CSV</button>
                        <input type="file" id="uploadCsv" accept=".csv">
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}