{% extends '/structure/structure.html.twig' %}


{% block myjs %}
{% endblock %}

{% block mycss %}
<style>
    header {
        position: static;
    }
</style>
{% endblock %}

{% block main %}
<br><br><br><br><br><br>
    <main>
        <p> BIENVENIDO PROFESOR </p>
        <h2>POR IMPLEMENTAR</h2>
    </main>

{% endblock %}