{% block compuesta %}

    <div class="container">
        <form id="actividadForm">
        {# DESCRIPCIÓN #}
            <div class="form-group">
                <label for="descripcion_compuesta">Descripción:</label>
                <input type="text" class="form-control" id="descripcion_compuesta" name="descripcion_compuesta">
            </div>
            {# <div class="login-box">
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Descripción</label>
                </div>
            </div> #}
        {# FECHA HORA INICIO #}
            <div class="form-group">
                <label for="fechaHoraInicio_compuesta">Fecha y Hora de Inicio:</label>
                {# <input type="datetime-local" class="form-control daterange" id="fechaHoraInicio" name="fechaHoraInicio"> #}
                <input class="daterange" id="fechaHoraInicio_compuesta" name="fechaHoraInicio_compuesta">
            </div>
        {# AFORO #}
            {# <div class="form-group form-check">
                <label class="form-check-label" for="aforo">Aforo</label>
                <input type="number" class="form-control input-3-digits" id="aforo_compuesta" name="aforo_compuesta">
            </div> #}
            <button type="submit" class="btn btn-primary" id="guardar_compuesta">Guardar</button>
        </form>
    </div>

{% endblock %}