{% block tab3 %}

    <script src="{{ asset('js/actividad/tab3_ponentes.js') }}"></script>

    <div class="container">
        {# <h2>Elige a los ponentes</h2> #}
        <section>
            <h4>Selcciona</h2>
            <div name="selecciona_ponentes" id="select">
        </section>
        <section>
            <h4>Selccionados</h2>
            <div name="seleccionados_ponentes" id="selected">
        </section>
        </div>
    </div>

{% endblock %}