{% block tab3 %}

    <div class="container">

        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Url</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody></tbody>

            <tfoot>
            <tr>
                <td><input type="text" id="nombre"></td>
                <td><input type="text" id="cargo"></td>
                <td><input type="text" id="url"></td>
                <td><button id="anadir">Añadir</button></td>
            </tr>
            </tfoot>
        </table>

        <!-- Modal de error -->
        <div id="errorModal" title="Error" style="display:none;">
            <p>Por favor, completa todos los campos antes de añadir una nueva fila.</p>
        </div>
        <button name="save_temp">Guardar borrador</button>

    </div>

{% endblock %}
