{% block tab4 %}

    <div class="container row d-flex justify-content-between">
        {# <h2>Elige a los ponentes</h2> #}
        <section class="col-12 col-lg-6">
            <div class="row text-center">
                <h4>Selcciona</h4>
            </div>
            {# Filtro #}
            <div class="row">
                <div class="col-12">
                    <label for="filtro">Filtro:</label>
                    <select name="filtrar_por_curso">
                        <option value="0">todos</option>
                        <option value="1">1ros</option>
                        <option value="2">2dos</option>
                    </select>
                </div>
                <div class="col-12" id="gruposSeleccionar">
                    <div name="selecciona_grupos" id="select"></div>
                </div>
            </div>
        </section>

        <section class="col-12 col-lg-6">
            <div class="row text-center">
                <h4>Selccionados</h4>
            </div>
            <div class="row">
                <div class="col-12" style="visibility: hidden;">
                    <label for="filtro">Filtro:</label><select name="filtrar_por_curso"><option>1ros</option></select>
                </div>
                <div class="col-12" id="gruposSeleccionados">
                    <div name="seleccionados_ponentes" id="selected"></div>
                </div>
            </div>
        </section>

        <button class="btn btn-primary" id="crear_actividad_simple">Crear</button>
    </div>

{% endblock %}